body { 
   background: #8a8080
}
h1 { 
   text-align: center;
   border: solid black;
   padding: 200pxb ;
}
p {
   text-align: center;
}
em strong{
   color: red;
}
#missao{
   font-size: 20px;"
}
#banner{
   width: 100%;
}
